{% extends "base.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid text-center bg-primary text-white">
    <div class="container">
        <h1 class="display-4">Welcome to the Secret Page!</h1>
        <p class="lead">You have successfully logged in. Enjoy your exclusive access.</p>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hello, {{ user.first_name }}!</h5>
                    <p class="card-text">This is a secret area reserved just for you. Feel free to explore and enjoy your stay.</p>
                    <a href="{{ url_for('logout') }}" class="btn btn-secondary btn-block">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
